body {
	background-color: rgb(138, 138, 255);
	height: 100%;
}

nav {
	min-width: 100%;
}

#box {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 800px;
	min-height: 100vh;
}

#content {
	width: 80%;
	max-width: 550px;
}

textarea {
	resize: none;
	min-width: 100%;
}
