{% extends 'base.html' %}

{% block title %}
<title>{{user.full_name}} Details</title>
{% endblock %}

{% block content %}
<div class="mt-5">
    <a href="/users" class="btn btn-outline-dark">Show All Users</a>
</div>
<div class="row mt-2">
    <div class="col-2">
        <img class="img-thumbnail" src="{{user.image_url}}" alt="Profile Photo">
    </div>
    <div class="col-auto">
        <div class="pt-1">
            <h1>{{user.full_name}}</h1>
        </div>

        <div class="pt-2">
            <form>
                <button class="btn btn-sm btn-primary" formaction="/users/{{user.id}}/edit"
                    formmethod="GET">Edit</button>
                <button class="btn btn-sm btn-danger" formaction="/users/{{user.id}}/delete"
                    formmethod="POST">Delete</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}