{% extends 'base.html' %}

{% block title %}
<title>Edit a User</title>
{% endblock %}

{% block content %}
<div class="mt-5">
    <a href="/users" class="btn btn-outline-dark">Show All Users</a>
</div>

<div class="mt-2">
    <h1>Edit a User</h1>
</div>

<div class="pt-3">
    <form action="/users/{{user.id}}/edit" method="post" style="max-width: 500px;">
        <div class="mb-3">
            <label for="first_name" class="form-label">First Name</label>
            <input type="text" name="first_name" id="first_name" value="{{user.first_name}}" required
                class="form-control">
        </div>
        <div class="mb-3">
            <label for="last_name" class="form-label">Last Name</label>
            <input type="text" name="last_name" id="last_name" value="{{user.last_name}}" required class="form-control">
        </div>
        <div class="mb-3">
            <label for="image_url" class="form-label">Image URL</label>
            <input type="url" name="image_url" id="image_url" value="{{user.image_url}}" class="form-control">
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}