{% extends 'base.html' %}

{% block title %}
<title>Add Post</title>
{% endblock %}

{% block content %}
<h1>Edit Post</h1>

<div class="pt-3">
    <form>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="title" id="title" value="{{post.title}}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Content</label>
            <textarea name="content" id="content" rows="5" cols="500" class="form-control">{{post.content}}</textarea>
        </div>

        <button formaction="/posts/{{post.id}}/edit" formmethod="post" class="btn btn-success">Submit</button>
        <button formaction="/posts/{{post.id}}" formmethod="get" class="btn btn-outline-primary">Cancel</button>

    </form>

</div>
{% endblock %}